@charset "UTF-8";

div {
	width: 800px;
	margin: 0px auto;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px #000EEE;
		
}


.card {
	width: 400px;
	margin: 0px auto;
	border-radius: 10px;
	box-shadow: 0 0 10px #FF6666;
	margin-bottom: 20px;
	padding: 20px;

}

.card-description {
	color: #666;
 	font-size: 16px;
 	line-height: 1.7;
	margin-bottom: 20px;
        }

 .card-title {
            font-family: Comic Sans MS;
            font-size:  20px ;
            font-weight: 700;            
        }

.card-tag {
    /* Set the image as the background */
    background-image: url('images/Others/oval-icon.png');
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image within the container */
    
    /* Define the dimensions of the container */
    width: 130px;
    height: 30px; 

    /* Center the text using Flexbox */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    /* Styling for the text */
	font-family: Comic Sans MS; 
	color: white; 
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

header {
	position: relative;
 	background-color: #8A00C4;
     	color: white;
      	padding: 1rem;
      	text-align: center;
	1height: 400px;
	overflow: hidden;
}

.header-text {     
	z-index:1; /*text appear above*/
    }



h1 {
        font-family: 'Fredoka', sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 1.5rem;
	text-align: center;
	color: #FF6666;
          }

h3 {
	font-family:  Comic Sans MS;
        font-size: 30px;
        1color: 
        margin-bottom: 24px;
	text-align: center;
}

.intro-card {
	width: auto;
	margin: 0px auto;
	border-radius: 10px;
	box-shadow: 0 0 10px #FF6666;
	margin-bottom: 20px;
	padding: 20px;

}
.section-desc {
        font-size:  20px;
        color: #666;
        max-width: 600px;
        margin: 32px auto 0;
	padding-bottom:20px;
        }


nav {
	border-top: solid 5px;
	border-bottom: solid 5px;
}

ul {
	list-style-type: none;
	display: flex;
}


a{
	display: block;
	width: 100px;
	background-color: #333333;
	border-left: solid 15px #FF6666;
	padding: 10px 12px 8px;
	margin-right: 15px;
	font-size: 16px;
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	background-color: #FF9999;
	font-weight: bold;
	color: #000000;	
	}


img {
	display: block;
  	margin: auto;
  	width: 100%;

}

.album{
 	background-color: #666666;
 	padding: 10px;
	display: flex;	
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;  
	width: 95%;
    }

.photo{
      text-align: center;
      background-color: #FFFFFF;
      padding: 10px 10px 25px;
      margin: 10px;
      box-shadow: 5px 5px 10px #000000;
	width: 50%;
	1max-width: 800px;
    }

footer {
		background-color: #333333;
		color: #FFFFFF;
		padding: 30px;
		text-align: center;
		margin:10px auto;
	}
